* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
} */

body {
    font-family: bilo,sans-serif;
    font-weight: 200;
    font-style: normal;
}

header, main, footer {
    text-align: center; 
}

h1 {
    padding: 25px 10px;
    font-weight: 200;
    font-size: 3.5rem;
}

.image {
    width: 100%;  
}

h2 {
    padding: 25px 0;
    font-weight: 200;
    font-size: 2rem; 
}

span {
    font-weight: 700;
    color: #6377a5; 
}

h3 {
    text-transform: uppercase;
    color: #e5c063; 
    font-size: 1.5rem; 
}

